h1 {
-webkit-font-smoothing: antialiased;
font-family: billabong,"billabongregular";
font-weight: 100;
font-size: 6rem;
letter-spacing: -1px;
text-shadow: 0 4px 0 rgba(18,86,136,.11);
box-sizing: border-box;
color: #f55a00;
text-decoration: none;
}

.input-group {
    width: 35%;
    margin-left: 50%;
    bottom: 70px !important;
}